<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>



	<appSettings>
        <add   key="sqlServerCreateTable" value="create table {表名} ( {字段}  constraint PK_{表名} primary key nonclustered ({主键}))"   />
	</appSettings>
</configuration>